<section>
  <h1 style="padding-bottom: 15px;">About Me</h1>
  <table>
    <tr class="spaceunder">
        <td colspan="2" style="text-align:right;">
        <img src="/images/me.jpg" width="200" height="300" /></td>
    </tr>
    <tr class="spaceunder">
        <td width="10%"><i class="icon-user"></i></td>
        <td><b>Artem Shinkarov</b></td>
    </tr>
    <tr class="spaceunder">
        <td><i class="icon-envelope-alt"></i></td>
        <td><a href="mailto:artyom.shinkaroff@gmail.com">artyom.shinkaroff@gmail.com</a></td>
    </tr>
    <tr>
        <td style="vertical-align: text-top"><i class="icon-building"></i></td>
        <td><p>G.26, Earl Mountbatten Building<br/>
               Heriot-Watt University<br/>
               Riccarton, Edinburgh<br/>
               EH14 4AS, United Kingdom</p>
        </td>
    </tr>
  </table>
</section>
