<div class="paper-img-desc">
  <a class="paper-img" href="$url$">
  $if(img)$
    <img src="$img$" style="width:30rem">
  $endif$
  </a>
  <h2>$title$</h2>
  
  $parsed$

  <p class="bibpdf">
    <a href="$url$">[URL]</a>
    <a href="javascript:visibilityToggle('bibtex-box');">[BibTeX]</a>
  </p>
</div>

<code class="bibinfo" id="bibtex-box" style="display:none;">
$bib$
</code>

$if(abstract)$
<h3>Abstract</h3>
<p>$abstract$</p>
$endif$

$if(addinfo)$
<h2>Additional Information</h2>
<p>$addinfo$</p>
$endif$
